In [2]:
import pandas as pd

df = pd.read_csv('test2.csv')

In [3]:
df.describe()

              1759
count    22.000000
mean   1782.000000
std      12.987173
min    1761.000000
25%    1771.500000
50%    1782.000000
75%    1792.500000
max    1803.000000

In [5]:
df.columns

Index(['220.1s', '1759',
       '79/79 - 94s - loss: 1.4034 - accuracy: 0.5243 - val_loss: 1.1232 - val_accuracy: 0.6109'],
      dtype='object')